<h1>Customers:</h1>

<%= render 'common/_messages'%>

<%= form_for @customer.order, url: customer_orders_path(customer_id: @customer.id) do |f| %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="<%="Persona"%>"
    data-amount="<%= 1000 %>"

    data-allow-remember-me="false"
    data-name="<%= "Persona" %>"
    data-locale="auto">
  </script>
<% end %>

<hr/>

<% if @customers.present? %>
<ul>
  <% @customers.each do |customer| %>
    <li>
      <%= customer.inspect %>
      <br/> <%= customer.order.inspect %>
      <br/><br/>
    </li>
  <% end %>
</ul>
<% end %>

<div>Total Customers: <%= @total %></div>
